/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
    display:none;
    /* background:transparent url({{ STATIC_URL }}img/tooltip/orange.png); */
    font-size:12px;
    height:150px;
    width:160px;
    padding:25px;
    color:#fff;	
}

/* override the arrow image of the tooltip */
.tooltip.bottom {
    /* background:url({{ STATIC_URL }}img/tooltip/orange_arrow_bottom.png); */
    padding-top:40px;
    height:55px;
}
